<ion-header>
  <ion-toolbar>
    <ion-title slot="start">Ajout de contact</ion-title>
    <ion-buttons slot="end">

      <ion-button [disabled]="isLoading"  (click)="onCancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label >Categorie:</ion-label>
            <ion-label class="bold">{{categorieName}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Nom:</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

        <ion-row *ngIf="!form.get('name').valid && form.get('name').touched">
          <ion-col size-sm="6" offset-sm="3">
            <p class="error-message">Le nom doit etre entre de 3 caractere et 20 caractere</p>
          </ion-col>
        </ion-row>

      <ion-row >
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea rows="2" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col size-sm="6" offset-sm="3">
          <ion-text color="danger">
            <p class="error-message">la description de doit pas depasser 30 caractere</p>
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Adresse</ion-label>
            <ion-textarea rows="2" formControlName="adress"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!form.get('adress').valid && form.get('adress').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p class="error-message"> l'adresse de doit pas depasser 40 caractere</p>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Telephone</ion-label>
            <ion-input type="tel" formControlName="phone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

        <ion-row *ngIf="!form.get('phone').valid && form.get('phone').touched">
          <ion-col size-sm="6" offset-sm="3">
            <ion-text color="danger">
              <p class="error-message">Le numero de telephone n'est pas correcte</p>
            </ion-text>
          </ion-col>
        </ion-row>

      <ion-row >
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

        <ion-row *ngIf="!form.get('email').valid && form.get('email').touched">
          <ion-col size-sm="6" offset-sm="3">
            <ion-text color="danger">
              <p class="error-message">la forme de l'adresse Email n'est pas correcte</p>
            </ion-text>
          </ion-col>
        </ion-row>



      <ion-row>
        <ion-col  size-sm="6" offset-sm="3" text-center>
          <ion-button
                  expand="block"
                  (click)="onAddWorker()" [disabled]="!form.valid" >
            ajouter
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>